.element__like {
  background-image: url("../../../images/like-image.svg");
  width: 22px;
  height: 19px;
  margin: 5px 0 0 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.element__like:hover {
  opacity: 50%;
}

