.header {
  max-width: 880px;
  height: 74px;
  margin: 45px 15.625% 0 15.625%;
  border-bottom: 1px solid #545454;
}

/*@media screen and (max-width: 1023px) {
  .header {
    max-width: 768px;
  }
}*/

@media screen and (max-width: 767px) {
  .header {
    max-width: 767px;
    margin: 28px 0 0 0;
  }
}