.popup__close-icon {
  margin: 0 0 auto auto;
  background-image: url("../../../../mesto/images/close-icon.svg");
  background-size: cover;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: calc((100vh - 370px) / 2 - 40px);
  left: calc((100vw - 430px) / 2 + 438px);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.popup__close-icon:hover {
  opacity: 60%;
}

@media screen and (max-width: 767px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: calc((100vh - 358px) / 2 - 36px);
    left: calc((100vw - 282px) / 2 + 262px);
  }
}